
bleach==3.1.0
bokeh==1.0.4
boto==2.49.0
Django==3.0.5
django-filter==2.2.0
django-storages==1.9.1
docopt==0.6.2
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
gunicorn==20.0.4
h11==0.9.0
h5py==2.9.0
heapdict==1.0.0
heroku==0.1.4
html5lib==1.0.1
idna==2.9
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.0.0
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.16
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.3
