{% extends 'tasks/main.html' %}

{% block content %}
<div class="center-column boxbody">

    <form method="POST" action="/" >
        {% csrf_token %} {{form.title}}
        <input class="btn btn-info submit" type="submit" name="Create Task" >
    </form>

    <div class="todo-list">

        {% for task in tasks %}
        <div class="item-row">
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle btn-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Update
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'update_task' task.id %}">Change</a>

                    {% if task.complete == True %}
                    <a class="dropdown-item" href="{% url 'uncheck_task' task.id %}">Uncheck Task</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'complete_task' task.id %}">Complete Task</a>
                    {% endif %}
                </div>

                 <a class="btn btn-sm btn-delete " href="{% url 'delete_task' task.id %}">Delete</a>
                {% if task.complete == True %}
                    <strike>{{task}}</strike> 
                {% else %}
                    <span>{{task}}</span> 
                {% endif %}
            </div>

           <!--  <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a> -->
            
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}